node_modules
.idea
.vscode
.vercel
.env
#hardhat
hardhat/node_modules
hardhat/.env
hardhat/coverage
hardhat/coverage.json
hardhat/typechain
hardhat/typechain-types

#Hardhat files
hardhat/cache
hardhat/artifacts

hardhat/local-pk.txt
